<div class="min-h-screen fixed z-10 flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 h-full text-gray-800 shadow-md">
    <div class=" flex flex-col top-0 left-0 w-64 bg-white h-full ">
      
        <div class="overflow-y-auto overflow-x-hidden flex-grow mt-20">
            <ul class="flex flex-col py-4 space-y-1">
                <li class="px-5">
                    <div class="flex flex-row items-center h-8">
                        <div class="text-sm font-light tracking-wide text-gray-500">Catogaries</div>
                    </div>
                </li>
                <li>
                    <div id="sidebar-categories">
                        <div class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent  px-8"
                                id="category-All">
                               All Icons
                                <span
                            class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full"><%=total_count%> </span>
                            </div>

                        <%files.forEach(x=>{%>
                            <div class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent  px-8"
                                id="category-<%=x.category%>">
                                <%=x.category%>
                                <span
                            class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-green-500 bg-green-50 rounded-full"> <%=x.filenames.length%></span>
                            </div>
                            <% })%>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
</div>